{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-5">

			<div class="card" style="border: none;">
			  <div class="card-body">
			  <p><span style="color: #555555; font-size: 122px; font-weight: bolder;">{{ world.total_cases }}</span><span style="font-size: 30px; color: red;">&nbsp;+{{ percentage }}%&nbsp;<i class="fas fa-arrow-up" style="color: red;"></i></span></p>
			  <p style="font-size: 27px; color: #777777">&nbsp;WORLDWIDE</p>
			  <br>
			  <div class="row" style="margin-bottom: 6px;">
			  	<div class="col-sm-5">
			  		<h4>&nbsp;Deaths</h4>
			  	</div>
			  	<div class="col-sm-5">
			  		<h4 style='color:#888888;'>&nbsp;{{ world.dead }}</h4>
			  	</div>
			  </div>
			  <div class="row" style="margin-bottom: 6px;">
			  	<div class="col-sm-5">
			  		<h4>&nbsp;Recovered</h4>
			  	</div>
			  	<div class="col-sm-5">
			  		<h4 style='color:#888888;'>&nbsp;{{ world.cured }}</h4>
			  	</div>
			  </div>
			  <div class="row" style="margin-bottom: 6px;">
			  	<div class="col-sm-5">
			  		<h4>&nbsp;Critical</h4>
			  	</div>
			  	<div class="col-sm-5">
			  		<h4 style='color:#888888;'>&nbsp;{{ world.critical }}</h4>
			  	</div>
			  </div>
			  <div class="row" style="margin-bottom: 6px;">
			  	<div class="col-sm-5">
			  		<h4>&nbsp;New Infected</h4>
			  	</div>
			  	<div class="col-sm-5">
			  		<h4 style='color:#888888;'>&nbsp;{{ world.new_infected }}</h4>
			  	</div>
			  </div>
			  <div class="row" style="margin-bottom: 6px;">
			  	<div class="col-sm-5">
			  		<h4>&nbsp;New Deaths</h4>
			  	</div>
			  	<div class="col-sm-5">
			  		<h4 style='color:#888888;'>&nbsp;{{ world.new_dead }}</h4>
			  	</div>
			  </div>
			  <div class="row" style="margin-bottom: 6px;">
			  	<div class="col-sm-5">
			  		<h4>&nbsp;Cases Per Million</h4>
			  	</div>
			  	<div class="col-sm-5">
			  		<h4 style='color:#888888;'>&nbsp;{{ world.cases_per_million }}</h4>
			  	</div>
			  </div>
			  <div class="row" style="margin-bottom: 6px;">
			  	<div class="col-sm-5">
			  		<h4>&nbsp;Deaths Per Million</h4>
			  	</div>
			  	<div class="col-sm-5">
			  		<h4 style='color:#888888;'>&nbsp;{{ world.dead_per_million }}</h4>
			  	</div>
			  </div>
			  <div class="row" style="margin-bottom: 6px;">
			  	<div class="col-sm-5">
			  		<h4>&nbsp;First Case Date</h4>
			  	</div>
			  	<div class="col-sm-5">
			  		<h4 style='color:#888888;'>&nbsp;{{ world.first_case_date }}</h4>
			  	</div>
			  </div>
			  </div>
			</div>

		</div>
		<div class="col-lg-7">

			<div id="chartdiv" style="width: 1100px; height: 800px;"></div>

			{% for country in countries %}
				<div class="modal fade" id="infoModal{{country.code}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle{{country.code}}" aria-hidden="true">
				  <div class="modal-dialog modal-dialog-centered" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLongTitle{{country.code}}"><b>{{ country.name }}</b></h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				      	<ul>
							<h4><li><b>Total Cases:</b> {{ country.total_cases }}</li></h4>
							<h4><li><b>Currently Infected:</b> {{ country.infected }}</li></h4>
							<h4><li><b>Deaths:</b> {{ country.dead }}</li></h4>
							<h4><li><b>Recovered:</b> {{ country.cured }}</li></h4>
							<h4><li><b>Critical:</b> {{ country.critical }}</li></h4>
							<h4><li><b>New Cases:</b> {{ country.new_infected }}</li></h4>
							<h4><li><b>New Deaths:</b> {{ country.new_dead }}</li></h4>
							<h4><li><b>Cases Per Million:</b> {{ country.cases_per_million }}</li></h4>
							<h4><li><b>Deaths Per Million:</b> {{ country.dead_per_million }}</li></h4>
							<h4><li><b>Date of First Case:</b> {{ country.first_case_date }}</li></h4>
		        		</ul>
				      </div>
				    </div>
				  </div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

<script>

	var map = am4core.create("chartdiv", am4maps.MapChart);
	map.zoomControl = new am4maps.ZoomControl();
	map.zoomControl.slider.height = 200;
	map.panBehavior = "rotateLongLat";
	map.geodata = am4geodata_worldIndiaHigh;
	map.projection = new am4maps.projections.Orthographic();
	map.deltaLongitude = -80;
	map.deltaLatitude = -16;
	map.backgroundSeries.mapPolygons.template.polygon.fill = am4core.color("#0077be");
	map.backgroundSeries.mapPolygons.template.polygon.fillOpacity = 0.1;

	var worldSeries = map.series.push(new am4maps.MapPolygonSeries());
	worldSeries.useGeodata = true;
	worldSeries.tooltip.getFillFromObject = false;
	// var indiaSeries = map.series.push(new am4maps.MapPolygonSeries());
	// indiaSeries.geodata = am4geodata_india2019High;
	// indiaSeries.geodataSource.url = "{% static 'assets/IND_adm3.json' %}";
	// indiaSeries.geodata = districts;

	var lst = [];
	{% for country in countries %}

		var display = "<span style='color:black;'><b style='font-size:20px;'>&nbsp;{{ country.name }}</b><ul style='padding: 0'><li><span style='font-size:30px;'>{{ country.total_cases }}</span> <span style='color:red;font-size:15px;'>+{{ country.percentage_increase }}%</span>&nbsp;<i class='fas fa-arrow-up' style='color:red'></i><br></li><p style='font-size:18px;'>&nbsp;Cases</p><li>&nbsp;Deaths: {{ country.dead }}</li><li>&nbsp;Recovered: {{ country.cured }}</li></ul><a>&nbsp;Click to View More</a></span>";
		lst.push({"id": "{{ country.code }}", "tooltipHTML": display, "fill": am4core.color("{{ country.infected_color }}")});

	{% endfor %}

	worldSeries.data = lst;

	var worldTemplate = worldSeries.mapPolygons.template;
	worldTemplate.fill = am4core.color("#bbbbbb");
	worldTemplate.propertyFields.tooltipHTML = "tooltipHTML"
	worldTemplate.propertyFields.fill = "fill";

	worldTemplate.events.on("hit", function(ev) {

		ev.target.series.chart.zoomToMapObject(ev.target);
		console.log(ev.target.dataItem.dataContext.id);
		$('#infoModal' + ev.target.dataItem.dataContext.id).modal();
	});

	// var indiaTemplate = indiaSeries.mapPolygons.template;
	// indiaTemplate.tooltipText = "{NAME_1}";

	var hs = worldTemplate.states.create("hover");
	hs.properties.fill = am4core.color("#770000");

	// var ihs = indiaTemplate.states.create("hover");
	// ihs.properties.fill = am4core.color("#ff9933");


</script>

{% endblock %}
