{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">

	<div id="chartdiv" style="width: 800; height: 800px;"></div>

</div>

<script>

	var map = am4core.create("chartdiv", am4maps.MapChart);
	map.zoomControl = new am4maps.ZoomControl();
	map.zoomControl.slider.height = 200;
	map.panBehavior = "rotateLongLat";
	map.geodata = am4geodata_worldIndiaHigh;
	map.projection = new am4maps.projections.Orthographic();

	var worldSeries = map.series.push(new am4maps.MapPolygonSeries());
	worldSeries.useGeodata = true;

	var indiaSeries = map.series.push(new am4maps.MapPolygonSeries());
	indiaSeries.geodata = am4geodata_india2019High;

	var lst = [];
	{% for country in countries %}

		lst.push({"id": "{{ country.code }}", "fill": am4core.color("{{ country.infected_color }}")});

	{% endfor %}

	worldSeries.data = lst;

	map.series.push(worldSeries);

	var worldTemplate = worldSeries.mapPolygons.template;
	worldTemplate.tooltipText = "{id}";
	worldTemplate.fill = am4core.color("#bbbbbb");
	worldTemplate.propertyFields.fill = "fill";

	var indiaTemplate = indiaSeries.mapPolygons.template;
	indiaTemplate.tooltipText = "{name}";

	var hs = worldTemplate.states.create("hover");
	hs.properties.fill = am4core.color("#770000");

	var ihs = indiaTemplate.states.create("hover");
	ihs.properties.fill = am4core.color("#ff9933");


</script>

{% endblock %}