{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<br><br>
<div class="ui center aligned container">
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		Stats India: <input type="file" name="statsIndia" required><br>
		Stats World: <input type="file" name="statsWorld" required><br>
		Color codes India: <input type="file" name="colorIndia" required><br>
		Color codes World: <input type="file" name="colorWorld" required><br>

		<button type="submit" class="ui huge blue button">Upload Files</button>

	</form>
</div>

{% endblock %}